In [14]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('Coursera_courses.csv')
df2 = pd.read_csv('ratings.csv')
alfa = np.tile(df1['name'], 300)
newdf = pd.DataFrame(alfa, columns = ['name1'])
df1 = df1.drop('name', axis=1)
df2['name'] = newdf['name1']
df2
# df1 = pd.read_csv('Coursera_courses.csv')
# df2 = pd.read_csv('ratings.csv')
# alfa = np.tile(df1['name'], 300)
# newdf = pd.DataFrame(alfa, columns = ['name1'])
# df1 = df1.drop('name', axis=1)
# df2['name'] = newdf['name1']
# df2

import random
k = 0
j = 0
for i in range(1000):
    df2.iloc[random.randint(1, 100000),4] = 'Machine Learning'
for i in range(1000):
    df2.iloc[random.randint(1, 100000),4] = 'Indigenous Canada'
for i in df2['name']:
    if i == 'Machine Learning':
        k = k+1
    if i == 'Indigenous Canada':
        j = j+1
print(k)
print(j)
df2

lista = ['Programming Foundations with JavaScript, HTML and CSS','Machine Learning','Introduction to Classical Music']
for i in range(70000):
    df2.iloc[random.randint(1, 100000),4] = random.choice(lista)
num_rows_to_delete = 7500
num_rows = len(df2)
# Generate a random list of row indices to delete
rows_to_delete = np.random.choice(num_rows, size=num_rows_to_delete, replace=False)
# print(rows_to_delete)
# Delete the selected rows from the DataFrame
df2 = df2.drop(rows_to_delete)

class give_neighbours:
    corr_gump = None
    
    def __init__(self, mov_name, file1):
        self.file1 = file1
        self.mov_name = mov_name
        
    def drop_read(self):
        df = self.file1.copy()
        return df
    
    def number_of_ratings(self):
        df = self.drop_read()
        pin = pd.DataFrame(df.groupby('name')['rating'].mean())
        pin['number_of_ratings'] = df.groupby('name')['rating'].count()
        pin = pin.sort_values(by='number_of_ratings', ascending=False)
#         print(pin)
        return pin
    
    def ratings_mean(self):
        pin = self.number_of_ratings()
        ratings = pd.DataFrame(pin.groupby('name')['rating'].mean())
        return ratings
    
    def user_item(self):
        df = self.drop_read()
        relation_movie_user = df.pivot_table(index='userId', columns='name', values='rating')
        print(relation_movie_user)
        return relation_movie_user
    
    def corr_for(self):
        relation_movie_user = self.user_item()
        take_gump = relation_movie_user[self.mov_name]
        self.corr_gump = relation_movie_user.corrwith(take_gump)
        return self.corr_gump
    
    def related_movies(self):
        corr_gump = self.corr_for()
        pin = self.number_of_ratings()
        pd_corr_gump = pd.DataFrame(corr_gump, columns=['Correlation'])
        pd_corr_gump = pd_corr_gump.dropna()
        pd_corr_gump['number_of_ratings'] = pin['number_of_ratings']
        pd_corr_gump = pd_corr_gump[pd_corr_gump['number_of_ratings']>10].sort_values(by='Correlation', ascending=False).head(10)
        pd_corr_gump = pd_corr_gump.drop(self.mov_name, axis=0)
        return pd_corr_gump

Ion = give_neighbours('AI for Medical Prognosis',df2)
Ion.related_movies()

1144
1156
name    A Crash Course in Causality:  Inferring Causal Effects from Observational Data  \
userId
1                                                     NaN
2                                                     NaN
3                                                    0.50
4                                                     NaN
5                                                     NaN
...                                                   ...
606                                                   NaN
607                                                   NaN
608                                                  3.50
609                                                   NaN
610                                                  4.25

name    A Crash Course in Data Science  A Law Student's Toolkit  \
userId
1                                  NaN                      NaN
2                                  NaN                      NaN
3                                  NaN                      NaN
4                                  NaN                      5.0
5                                  NaN                      NaN
...                                ...                      ...
606                               4.00                      3.5
607                                NaN                      NaN
608                               3.50                      NaN
609                                NaN                      NaN
610                               3.75                      3.0

name    AI For Everyone  AI for Medical Diagnosis  AI for Medical Prognosis  \
userId
1                   NaN                       5.0                       NaN
2                   NaN                       NaN                       NaN
3                   NaN                       NaN                       NaN
4                   NaN                       NaN                       NaN
5                   NaN                       NaN                       NaN
...                 ...                       ...                       ...
606                3.00                       4.0                       4.0
607                 NaN                       NaN                       NaN
608                4.00                       NaN                       4.0
609                 NaN                       NaN                       NaN
610                3.75                       3.5                       4.5

name    AWS Fundamentals: Addressing Security Risk  \
userId
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
5                                              NaN
...                                            ...
606                                           4.25
607                                            NaN
608                                            NaN
609                                            NaN
610                                           2.00

name    AWS Fundamentals: Going Cloud-Native  \
userId
1                                       4.00
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
...                                      ...
606                                     3.50
607                                      NaN
608                                      NaN
609                                      NaN
610                                     4.25

name    Aboriginal Worldviews and Education  Access Controls  ...  \
userId                                                        ...
1                                       NaN              NaN  ...
2                                       NaN              NaN  ...
3                                       NaN              NaN  ...
4                                       NaN              NaN  ...
5                                       NaN              NaN  ...
...                                     ...              ...  ...
606                                    3.25              3.5  ...
607                                     NaN              NaN  ...
608                                     NaN              4.5  ...
609                                     NaN              NaN  ...
610                                    3.00              3.5  ...

name    Write Professional Emails in English  Write Your First Novel  \
userId
1                                        4.0                     NaN
2                                        NaN                     NaN
3                                        NaN                     NaN
4                                        NaN                     NaN
5                                        NaN                     NaN
...                                      ...                     ...
606                                      2.0                4.250000
607                                      NaN                     NaN
608                                      NaN                     NaN
609                                      NaN                     NaN
610                                      4.0                4.166667

name    Writing and Editing: Word Choice and Word Order  \
userId
1                                                   NaN
2                                                   NaN
3                                                   4.5
4                                                   NaN
5                                                   NaN
...                                                 ...
606                                                 3.5
607                                                 NaN
608                                                 3.5
609                                                 NaN
610                                                 2.5

name    Writing in the Sciences  \
userId
1                          5.00
2                           NaN
3                           NaN
4                           NaN
5                           NaN
...                         ...
606                        3.25
607                         NaN
608                         NaN
609                         NaN
610                        4.50

name    e-Learning Ecologies: Innovative Approaches to Teaching and Learning for the Digital Age  \
userId
1                                                     4.0
2                                                     NaN
3                                                     NaN
4                                                     NaN
5                                                     NaN
...                                                   ...
606                                                   NaN
607                                                   NaN
608                                                   NaN
609                                                   NaN
610                                                   3.0

name    Étudier en France: French Intermediate course B1-B2  \
userId
1                                                    5.00
2                                                     NaN
3                                                     NaN
4                                                     NaN
5                                                     NaN
...                                                   ...
606                                                   NaN
607                                                   NaN
608                                                   NaN
609                                                   NaN
610                                                  2.75

name    Математика и Python для анализа данных  \
userId
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
5                                          NaN
...                                        ...
606                                        NaN
607                                        NaN
608                                       4.00
609                                        NaN
610                                       4.25

name    Основы программирования на Python  \
userId
1                                     NaN
2                                     NaN
3                                     NaN
4                                     2.0
5                                     NaN
...                                   ...
606                                   NaN
607                                   NaN
608                                   3.0
609                                   NaN
610                                   3.5

name    Основы разработки на C++: белый пояс  \
userId
1                                        NaN
2                                        NaN
3                                        NaN
4                                        3.0
5                                        NaN
...                                      ...
606                                      NaN
607                                      NaN
608                                      NaN
609                                      3.0
610                                      4.0

name    Разработка веб-сервисов на Go - основы языка
userId
1                                                NaN
2                                                NaN
3                                                NaN
4                                               5.00
5                                                NaN
...                                              ...
606                                             4.25
607                                              NaN
608                                              NaN
609                                              NaN
610                                             3.00

[610 rows x 622 columns]

,Correlation,number_of_ratings
name,,
Anatomy: Musculoskeletal and Integumentary Systems,0.749096,60
Driving business towards the Sustainable Development Goals,0.745254,81
Rethinking International Tax Law,0.731178,69
Grammar and Punctuation,0.692385,76
Autism Spectrum Disorder,0.674073,62
Oil & Gas Industry Operations and Markets,0.668756,85
Communication Strategies for a Virtual Age,0.645128,65
Marketing in a Digital World,0.642302,69
Essential Google Cloud Infrastructure: Core Services,0.637605,70