In [5]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('Coursera_courses.csv')
df2 = pd.read_csv('ratings.csv')
alfa = np.tile(df1['name'], 300)
newdf = pd.DataFrame(alfa, columns = ['name1'])
df1 = df1.drop('name', axis=1)
df2['name'] = newdf['name1']
df1 = pd.read_csv('Coursera_courses.csv')
df2 = pd.read_csv('ratings.csv')
alfa = np.tile(df1['name'], 300)
newdf = pd.DataFrame(alfa, columns = ['name1'])
df1 = df1.drop('name', axis=1)
df2['name'] = newdf['name1']
df2
import random
k = 0
j = 0
lista = ['Programming Foundations with JavaScript, HTML and CSS','Machine Learning','Introduction to Classical Music']
# for i in range(1000):
#     df2.iloc[random.randint(1, 100000),4] = 'Machine Learning'
# for i in range(1000):
#     df2.iloc[random.randint(1, 100000),4] = 'Indigenous Canada'
# for i in df2['name']:
#     if i == 'Machine Learning':
#         k = k+1
#     if i == 'Indigenous Canada':
#         j = j+1
# print(k)
# print(j)
# print(lista)
for i in range(70000):
    df2.iloc[random.randint(1, 100000),4] = random.choice(lista)
num_rows_to_delete = 7500
num_rows = len(df2)
# Generate a random list of row indices to delete
rows_to_delete = np.random.choice(num_rows, size=num_rows_to_delete, replace=False)
# Delete the selected rows from the DataFrame
df2 = df2.drop(rows_to_delete)
class give_neighbours:
    corr_gump = None
    
    def __init__(self, mov_name, file1):
        self.file1 = file1
        self.mov_name = mov_name
        
    def drop_read(self):
        df = self.file1.copy()
        return df
    
    def number_of_ratings(self):
        df = self.drop_read()
        pin = pd.DataFrame(df.groupby('name')['rating'].mean())
        pin['number_of_ratings'] = df.groupby('name')['rating'].count()
        pin = pin.sort_values(by='number_of_ratings', ascending=False)
        return pin
    
    def ratings_mean(self):
        pin = self.number_of_ratings()
        ratings = pd.DataFrame(pin.groupby('name')['rating'].mean())
        return ratings
    
    def user_item(self):
        df = self.drop_read()
        relation_movie_user = df.pivot_table(index='userId', columns='name', values='rating')
#         print(relation_movie_user)
        return relation_movie_user
    
    def corr_for(self):
        relation_movie_user = self.user_item()
        take_gump = relation_movie_user[self.mov_name]
        self.corr_gump = relation_movie_user.corrwith(take_gump)
#         print(self.corr_for)
        return self.corr_gump
    
    def related_movies(self):
        corr_gump = self.corr_for()
        pin = self.number_of_ratings()
        pd_corr_gump = pd.DataFrame(corr_gump, columns=['Correlation'])
        pd_corr_gump = pd_corr_gump.dropna()
        pd_corr_gump['number_of_ratings'] = pin['number_of_ratings']
        pd_corr_gump = pd_corr_gump[pd_corr_gump['number_of_ratings']>10].sort_values(by='Correlation', ascending=False).head(10)
        pd_corr_gump = pd_corr_gump.drop(self.mov_name, axis=0)
        return pd_corr_gump

Ion = give_neighbours('AI for Medical Prognosis',df2)
Ion.related_movies()

,Correlation,number_of_ratings
name,,
IBM Customer Engagement Specialist Professional Certificate,0.781399,75
Convolutional Neural Networks in TensorFlow,0.668758,69
Write Professional Emails in English,0.619237,72
Chemicals and Health,0.597671,75
Introduction to Data Analysis Using Excel,0.596188,77
Understanding International Relations Theory,0.585450,71
Software Processes and Agile Practices,0.585429,62
Understanding and Visualizing Data with Python,0.585403,86
English Composition I,0.585361,80

In [32]:
import pandas as pd
df1 = pd.read_csv('Coursera_courses.csv')
df2 = pd.read_csv('ratings.csv')
alfa = np.tile(df1['name'], 300)
newdf = pd.DataFrame(alfa, columns = ['name1'])
df1 = df1.drop('name', axis=1)
df2['name'] = newdf['name1']
df2
import random
k = 0
j = 0
for i in range(1000):
    df2.iloc[random.randint(1, 100000),4] = 'Machine Learning'
for i in range(1000):
    df2.iloc[random.randint(1, 100000),4] = 'Indigenous Canada'
for i in df2['name']:
    if i == 'Machine Learning':
        k = k+1
    if i == 'Indigenous Canada':
        j = j+1
print(k)
print(j)
df2

1145
1151

,userId,movieId,rating,timestamp,name
0,1,1,4.0,964982703,Machine Learning
1,1,3,4.0,964981247,Indigenous Canada
2,1,6,4.0,964982224,The Science of Well-Being
3,1,47,5.0,964983815,Technical Support Fundamentals
4,1,50,5.0,964982931,Become a CBRS Certified Professional Installer...
...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Getting Started With Music Theory
100832,610,168248,5.0,1493850091,Digital Marketing Analytics in Practice
100833,610,168250,5.0,1494273047,The Horse Course: Introduction to Basic Care a...
100834,610,168252,5.0,1493846352,Verb Tenses and Passives
100835,610,170875,3.0,1493846415,Gestión de organizaciones efectivas